/*----Colors----*/

$white: #fff;
$light-grey: #E0E0E0;
$dark-grey: #424242;
$black: #212121;

/* orange theme */
$green: #0097A7;
$orange: #cc5333;
$violet: #23074d;

/* yellow theme */
$blue: #512DA8;
$yellow: #FFE000;
$navy: #00416A;
